<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="content-type">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="robots" content="noindex" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Speelvld</title>
        <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/bootstrap-grid.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">
    </head>
<body>

   
    <main>
    {{content}}
    </main>

    
</body>
